*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  background: var(--bg);
	color: var(--text);
  font-family: 'Krub', sans-serif;
	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

button
{
  font-family: 'Krub', sans-serif;
}

nav
{
  background: var(--bg-nav);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  color: var(--text);
  position: fixed;
   transition: background 500ms ease-in-out, color 1000ms ease-in-out; 
  z-index: 1
}

#home nav ul li:hover, nav ul li a:hover
{
  color: var(--border-color);
  transition: all 0.2s ease-in-out;
}

#home nav ul li
{
  animation: roll-in-left 0.6s ease-out both;
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

nav ul
{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%;
}

nav ul li
{
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

nav a
{
	color: var(--text);
	transition: background 500ms ease-in-out, color 1000ms ease-in-out; 
	
}

header
{
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  width: 50%;
  margin-left: 50%;
}

header p
{
  margin: 50px 0px;
  font-size: 30px;
  width: 60%;
  opacity: 0;
  animation: fadeUp 0.5s ease-in-out 0.7s forwards;
}

header h1
{
  font-size: 64px;
  opacity: 0;
  animation: fadeUp 0.5s ease-in-out 0.5s forwards;
}

/*
header button
{
  font-size: 20px;
  color: #fbfbfb;
  padding: 15px 25px;
  background: linear-gradient(to left, #728bff, #764ba2);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  animation: fadeUp 0.5s ease-in-out 0.9s forwards;
}
*/

header img
{
  position: absolute;
  height: 50%;
  top: 60%;
  left: 10%;
  transform: translate(-10%, -70%);
  opacity: 0;
  animation: fadeSimple 0.5s ease-in-out 0.5s forwards;
  z-index: -1;
}

@keyframes fadeSimple {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#footer
{
  height: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  width: 42%;
  padding-left: 60px;
}

#footer ul
{
  width: 100%;
  display: block;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 10%; */
  text-align: center;
}

#footer ul li
{
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}

#footer a
{
  color: #f8f8f8;
  background: linear-gradient(to left, #EECDA3, #EF629F);
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
}

#footer ul li a
{
  animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

#footer ul li a:hover
{
  color: var(--border-color);
  transition: all 0.2s ease-in-out;
}

#allProjects
{
  padding-top: 180px;
  height: 150vh;
  flex-direction: row;
/*  justify-content: flex-start;*/
/*  align-items: flex-start;*/
/*  display: flex;*/
/*  width: 100%;*/
}

#pro1TEST
{
  position: relative;
/*  height: 45vh;*/
  width: 70%;
/*  margin-right: 40%;*/
  margin-top: 0%;
  left: 80px;
}

#pro1TEST img
{
  position: absolute;
  height: 50vh;
  width: 50%;
}

#infoGOL
{
  position: absolute;
  height: 50vh;
  width: 50%;
  background-color: #e5e5ff;
  color: #800000;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
  cursor: pointer;
}

#infoGOL h4
{
  position: relative;
  top: 150px;
  font-size: 35px;
}

#infoGOL p
{
  position: relative;
  top: 160px;
  font-style: italic;
  font-weight: bold;
}

#pro2TEST
{
  position: relative;
  height: 45vh;
  width: 70%;
/*  margin-right: 40%;*/
/*	margin-left: 60%;*/
/*  margin-top: 6%;*/
/*  left: 645px;*/
	padding-left: 890px;
}

#pro2TEST img
{
  position: absolute;
  height: 50vh;
  width: 50%;
}

#infoC4A
{
  position: absolute;
  height: 50vh;
  width: 50%;
  background-color: #e5e5ff;
  color: #800000;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
  cursor: pointer;
}

#infoC4A h4
{
  position: relative;
  top: 150px;
  font-size: 35px;
}

#infoC4A p
{
  position: relative;
  top: 160px;
  font-style: italic;
  font-weight: bold;
}

#pro3TEST
{
  position: relative;
/*  height: 45vh;*/
  width: 70%;
  margin-right: 40%;
  margin-top: 6%;
  left: 80px;
}

#pro3TEST img
{
  position: absolute;
  height: 50vh;
  width: 50%;
}

#infoTD
{
  position: absolute;
  height: 50vh;
  width: 50%;
  background-color: #e5e5ff;
  color: #800000;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
  cursor: pointer;
}

#infoTD h4
{
  position: relative;
  top: 150px;
  font-size: 35px;
}

#infoTD p
{
  position: relative;
  top: 160px;
  font-style: italic;
  font-weight: bold;
}

#pro4TEST
{
  position: relative;
/*  height: 45vh;*/
  width: 70%;
/*  margin-right: 40%;*/
  margin-top: 6%;
/*	margin-left: 60%;*/
/*  left: 320px;*/
	padding-left: 890px;
}

#pro4TEST img
{
  position: absolute;
  height: 50vh;
  width: 50%;
}

#infoTODO
{
  position: absolute;
  height: 50vh;
  width: 50%;
  background-color: #e5e5ff;
  color: #800000;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
  cursor: pointer;
}

#infoTODO h4
{
  position: relative;
  top: 150px;
  font-size: 35px;
}

#infoTODO p
{
  position: relative;
  top: 160px;
  font-style: italic;
  font-weight: bold;
}

.has-dropdown a
{
	text-decoration: none;
}

.dropdown
{
	position: absolute;
	width: 250px;
	opacity: 0;
	z-index: 2;
	background: var(--bg-dropdown);
	border-top: 2px solid var(--border-color);
	text-decoration: none;
	
	
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 3rem;
	margin-top: 2rem;
	padding: 0.2rem;
	
	box-shadow: rgba(2,8,20,0.1) 0px 0.175em 0.5em;
	transform: translateX(-30%);
	
	transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown
{
	opacity: 1;
	pointer-events: auto;
}

.dropdown-item a
{
	width: 100%;
	height: 100%;
	size: 0.7rem;
	padding-left: 10px;
	font-weight: bold;
}

/*
.dropdown-item a::before
{
	content: ' ';
	border: 2px solid var(--border-color);
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
*/

:root
{
	--gray0: #f8f8f8;
	--gray1: #dbe1e8;
	--gray2: #b2becd;
	--gray3: #6c7983;
	--gray4: #454e56;
	--gray5: #2a2e35;
	--gray6: #12181b;
	--blue: #0084a5;
	--purple: #a82dd1;
	--yellow: #fff565;
}

.light
{
	--bg: var(--gray0);
	--bg-nav: linear-gradient(to right, var(--gray0), var(--gray1));
	--bg-dropdown: var(--gray0);
	--text: var(--gray6);
	--border-color: var(--blue);
	--bg-solar: var(--yellow);
	
}

.dark
{
	--bg: var(--gray5);
	--bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
	--bg-dropdown: var(--gray6);
	--text: var(--gray0);
	--border-color: var(--purple);
	--bg-solar: var(--blue);
}